services:
  # --- Backend Service (NestJS) ---
  api:
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    image: product-feedback-api
    container_name: product_feedback_api
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
      # O Host do banco aqui TEM que ser o nome do container 'db'
      DATABASE_URL: postgres://postgres:postgres@db:5432/product_feedback

      # Secrets
      JWT_ACCESS_SECRET: ${JWT_ACCESS_SECRET:-changeme}
      JWT_REFRESH_SECRET: ${JWT_REFRESH_SECRET:-changeme}
      JWT_ACCESS_TTL: 15m
      JWT_REFRESH_TTL: 7d
      JWT_ACCESS_EXPIRES_IN_MS: 900000
      JWT_REFRESH_EXPIRES_IN_MS: 604800000

      # Para CORS (Navegador -> API)
      FRONTEND_URL: http://localhost:5173
    depends_on:
      - db
    networks:
      # <--- FALTAVA ISSO
      - app-network
    restart: unless-stopped

  # --- Frontend Service (Vite) ---
  web:
    build:
      context: ./apps/frontend
      dockerfile: Dockerfile
    container_name: product_feedback_web
    ports:
      - "5173:5173"
    volumes:
      - ./apps/frontend:/app
      - /app/node_modules
    environment:
      NODE_ENV: production
      VITE_API_TARGET: http://api:3000

    depends_on:
      - api
    networks:
      # Já estava aqui, correto
      - app-network

  # --- Database Service (Postgres) ---
  db:
    image: postgres:17
    container_name: product_feedback_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: product_feedback
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker/create-test-database.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      # <--- FALTAVA ISSO
      - app-network

# Definição da Rede
networks:
  app-network:
    driver: bridge

# Definição do Volume Persistente
volumes:
  postgres_data:
